@css {
  @import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300';
}

*
  padding 0
  margin 0

canvas
  width 800px
  height 600px
  border 1px solid #ddd
  margin 20px

body
  font-family 'Roboto Slab', serif
  font-weight 300

h1
  font-weight 300
