@import 'base.styl'
@import 'mixins.styl'

canvas
  display inline-block
  margin 30px
  border 1px solid #666

pre
  font-size 10px
  margin 30px
  padding 10px

button, input, textarea
  outline none

button
  padding 10px
  background #fff
  border none
  border-radius 2px
  cursor pointer
  background #26a69a
  color white
  transition all .5s
  z-depth 1
  &:hover
    z-depth 1.5


#login, #placeholder
  border-radius 2px
  width 480px
  margin 100px auto
  padding 10px
  text-align center
  card()

  img
    display block
    margin 30px
    width 400px

  button
    display inline-block
    width 40%
    margin-top 10px
    margin 2rem 5% 2rem 5%

#lobby, #game
  width 1100px
  min-height 100%
  margin 0 auto
  padding 10px
  card()
  p
    margin-bottom 20px

.signup
  disabled()
  background-color #aaa
  &:hover
    z-depth 1

input[type=text]
  border none
  background #ddd
  padding 10px
